.react-datepicker__time-container {
    position: absolute;
    right: -86px;
    width: fit-content;
    border: 0.5px solid
  }
  
  .react-datepicker__time-list {
    position: relative;
    margin: 0 auto;
  }
  