.home {
  @apply h-screen flex flex-col;
}

.home_header {
  @apply bg-white w-full;
}

.home_app {
  @apply flex flex-col md:flex-row h-full;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
